.card {
    padding: 0.75rem;
    position: relative;
    color: whitesmoke;
}

.card-date {
    font-weight: bold;
}

.card:hover .card-buttons {
    display: inline;
}

.card-buttons-edit:hover, .card-buttons-delete:hover {
    cursor: pointer;
    color: -webkit-link;
}

.card-buttons {
    display: none;
    position: absolute;
    right: 0.75rem;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.January {
    background-color: #95042a;
}

.February {
    background-color: #453a92;
}

.March {
    background-color: #4893af;
}

.April {
    background-color: #b9164d;
}

.May {
    background-color: #178053;
}

.June {
    background-color: #942a73;
}

.July {
    background-color: #b1201c;
}

.August {
    background-color: #758e29;
}

.September {
    background-color: #185395;
}

.October {
    background-color: #d04019;
}

.November {
    background-color: #c49732;
}

.December {
    background-color: #126fb0;
}

.significant {
    font-size: xx-large;
}
